.popup__input-error {
    border-bottom-color: rgba(255, 0, 0, 1);
}

span.popup__input-error {
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}