.profile__edit-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: #000000;
    border: 1px solid #ffffff;
    margin: auto 0 16px auto;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1046px) {
    .profile__edit-button {
        background-size: 7.5px;
        width: 18px;
        height: 18px;
        margin-bottom: 14px;
    }
}